<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialPortUtility.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SerialPortUtility.app" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SerialPortUtility.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialPortUtility.AppSetting>
            <setting name="ComName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ComStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="ComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComDataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComHandshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LogTXColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LogRXColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LogInfoColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="LogWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogHEX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBIN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendAppend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogTxName" serializeAs="String">
                <value>TX</value>
            </setting>
            <setting name="LogRxName" serializeAs="String">
                <value>RX</value>
            </setting>
            <setting name="LogTxFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="LogRxFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="LogTxEn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogInfoEn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogInfFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="LogTxNameEn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogRxNameEn" serializeAs="String">
                <value>True</value>
            </setting>
        </SerialPortUtility.AppSetting>
        <SerialPortUtility.app>
            <setting name="ComName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ComStopBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComDataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComHandshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LogFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="LogTXColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LogRXColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LogInfoColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="LogWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogHEX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBIN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendAppend" serializeAs="String">
                <value>0</value>
            </setting>
        </SerialPortUtility.app>
        <SerialPortUtility.Settings1>
            <setting name="ComName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ComStopBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComDataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ComHandshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LogFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="LogTXColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LogRXColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LogInfoColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="LogWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogHEX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBIN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendAppend" serializeAs="String">
                <value>0</value>
            </setting>
        </SerialPortUtility.Settings1>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
